<%- include('header') %>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary">
        <div class="container clearfix">
            <h2 class="title-page"><%- category[0].category %></h2>
        
            <nav class="float-left">
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><%- category[0].category %></li>
            </ol>  
            </nav>
        </div> <!-- container //  -->
        </section>
        <!-- ========================= SECTION INTRO END// ========================= -->
        
        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content bg padding-y">
        <div class="container">
        
        <div class="row">
            <main class="col-sm-12">
        
        <% products.forEach( product => { %>
        <article class="card card-product">
            <div class="card-body">
            <div class="row">
                <aside class="col-sm-3">
                    <div class="img-wrap"><img src="/images/items/2.jpg"></div>
                </aside> <!-- col.// -->
                <article class="col-sm-6">
                        <h4 class="title"><%- product.name %></h4>
                        <div class="rating-wrap  mb-2">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active"> 
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                    <i class="fa fa-star"></i> 
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                    <i class="fa fa-star"></i> 
                                </li>
                            </ul>
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                        <p><%- product.description %></p>
                        <dl class="dlist-align">
                          <dt>Color</dt>
                          <dd>Black and white</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="dlist-align">
                          <dt>Material</dt>
                          <dd>Syntetic, wooden</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="dlist-align">
                          <dt>Delivery</dt>
                          <dd>Russia, USA, and Europe</dd>
                        </dl>  <!-- item-property-hor .// -->
                    
                </article> <!-- col.// -->
                <aside class="col-sm-3 border-left">
                    <div class="action-wrap">
                        <div class="price-wrap h4">
                            <span class="price"> $56 </span>	
                            <del class="price-old"> $98</del>
                        </div> <!-- info-price-detail // -->
                        <p class="text-success">Free shipping</p>
                        <br>
                        <p>
                            <a href="#" class="btn btn-primary"> Buy now </a>
                            <a href="/produto/<%- product.id %>/slug" class="btn btn-secondary"> Details  </a>
                        </p>
                        <a href="#"><i class="fa fa-heart"></i> Add to wishlist</a>
                    </div> <!-- action-wrap.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </article> <!-- card product .// -->
        <% }) %>
        
            </main> <!-- col.// -->
        </div>
        
        </div> <!-- container .//  -->
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
        
        <!-- ========================= SECTION  ========================= -->
        <section class="section-name bg-white padding-y">
        <div class="container">
        <h4>Another section if needed</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><!-- container // -->
        </section>
        <!-- ========================= SECTION  END// ========================= -->
<%- include('footer') %>